.app { height: 100%;

    // Header
    .header { background-color: blueviolet; height: 60px; padding: 0 10px;

        // User Details
        .user-details { text-align: right; }
    }

    // Sidebar
    .sidebar { background-color: grey; padding: 10px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); width: 200px; 
        transition: margin-left 0.2s ease-in-out;
    
        // When Shown
        &.show {

        }

        // When Hidden
        &.hide { margin-left: -180px;

        }
    }

    // Footer
    .footer {}
}