.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

// Grid For Loop
@for $i from 1 through 12 {
    .col-#{$i}{
        flex-basis: calc(100% / 12 * #{$i});
        max-width: calc(100% / 12 * #{$i});
    }
}